@model StupidChessBase.Models.UpcomingPassedTournamentsViewModel

@{
    ViewBag.Title = "Tournaments";
}
@*TODO: Refactor*@

<h1 class="tournament-group-heading">Upcoming Tournaments</h1>

<div class="row">
    @if (Model.UpcomingTournaments.Any())
    {
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Rounds</th>
                <th>Country</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            @foreach (var upcomingTournament in Model.UpcomingTournaments)
            {
                <tr>
                    <th>
                        @upcomingTournament.Name
                    </th>
                    <td>
                        @upcomingTournament.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @upcomingTournament.EndDate.ToShortDateString()
                    </td>
                    <td>
                        @upcomingTournament.Rounds
                    </td>
                    <td>
                        <span class="flag-icon flag-icon-@upcomingTournament.CounrtyCode"></span> @upcomingTournament.Counrty
                    </td>
                    <td>
                        @upcomingTournament.Description
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditTournament", new { id = upcomingTournament.Id })
                        @Html.ActionLink("Delete", "DeleteTournament", new { id = upcomingTournament.Id })
                    </td>
                </tr>

            }
        </table>
    }
    else
    {
        <div>No Tournaments</div>
    }
</div>

<h1 class="tournament-group-heading">Current Tournaments</h1>

<div class="row">
    @if (Model.CurrentTournaments.Any())
    {
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Rounds</th>
                <th>Country</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            @foreach (var currentTournament in Model.CurrentTournaments)
            {
                <tr>
                    <th>
                        @currentTournament.Name
                    </th>
                    <td>
                        @currentTournament.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @currentTournament.EndDate.ToShortDateString()
                    </td>
                    <td>
                        @currentTournament.Rounds
                    </td>
                    <td>
                        <span class="flag-icon flag-icon-@currentTournament.CounrtyCode"></span> @currentTournament.Counrty
                    </td>
                    <td>
                        @currentTournament.Description
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditTournament", new { id = currentTournament.Id })
                        @Html.ActionLink("Delete", "DeleteTournament", new { id = currentTournament.Id })
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>No Tournaments</div>
    }
</div>

<h1 class="tournament-group-heading">Passed Tournaments</h1>

<div class="row">
    @if (Model.PassedTournaments.Any())
    {
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Rounds</th>
                <th>Country</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            @foreach (var passedTournament in Model.PassedTournaments)
            {
                <tr>
                    <th>
                        @passedTournament.Name
                    </th>
                    <td>
                        @passedTournament.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @passedTournament.EndDate.ToShortDateString()
                    </td>
                    <td>
                        @passedTournament.Rounds
                    </td>
                    <td>
                        <span class="flag-icon flag-icon-@passedTournament.CounrtyCode"></span> @passedTournament.Counrty
                    </td>
                    <td>
                        @passedTournament.Description
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditTournament", new { id = passedTournament.Id })
                        @Html.ActionLink("Delete", "DeleteTournament", new { id = passedTournament.Id })
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>No Tournaments</div>
    }
</div>
